<div class="hull-instant hull-instant--intro">
  <h1 class="hull-instant__title">Hull Instant Invite</h1>
  <div class="hull-instant__description">
    <p>hull is a full stack social platform as a service. It lets you develop social apps in a weekend and is currently in private beta..</p>
    <p>If you want an invite without waiting, play to win an immediate access to the platform.</p>
  </div>
  {{>instant_win/buttons}}
</div>
