<div class="hull-instant hull-instant--won">
  <div class="hull-instant-result">
    <h1 class="hull-instant-result__title">You won!</h1>

    <div class="hull-instant-result__description">
      <p>Congratulations! Now that you're in, go create your account qnd start using Hull.</p>
      <p>Before diving in, why don't you have a look at our <a href="http://hull.io/docs/demos/">demo application</a>.</p>
      <a class="hull-btn" href="http://alpha.hullapp.io/accounts/registrations?token={{badge.data.signature}}">Create my account</a>
    </div>
  </div>
</div>
