html {
  display: table;
  width: 100%;
  height: 100%;
}

body {
  display:table-cell;
  vertical-align:middle;
  background: #0968CF;
  margin: 0;
}

body, button {
  font: 18px/1.6 "Helvetica Neue", Helvetica, Arial, Geneva;
  color: #6EA8E7;
  -webkit-font-smoothing: antialiased;
}

.hull-instant {
  width: 500px;
  margin: -50px auto 0;
  text-align: center;
}

.hull-instant__title {
  margin: 0;
  color: #fff;
}

.hull-instant__description {
  margin-top: 0;
}

.hull-btn {
  padding: 35px 30px;
  margin: 0;
  border: 0;
  background: #fff;
  background: rgba(255,255,255,.94);
  color: #0968CF;
  line-height: 0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: background-color .2s ease-in;
  -webkit-animation: glow .8s ease infinite alternate;
}

.hull-btn--instant:hover {
  background: #fff;
}

.hull-instant-result {
  width: 300px;
  margin: 0 auto;
  background: #fff;
  color: #555;
  font-size: 14px;
  padding: 35px;
  border-radius: 2px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, rgba(0, 0, 0, .3));
  -webkit-animation: bounce .4s ease;
}

.hull-instant-result__title {
  color: #333;
  font-size: 22px;
}

@-webkit-keyframes glow {
  0% { box-shadow: 0 0 10px rgba(255, 255, 255, .1); }
  100% { box-shadow: 0 0 40px rgba(255, 255, 255, .4); }
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
