body {
  margin: 0;
  background: #f1f3f5;
  color: #7c8a9e;
  text-align: center;
}

body, button {
  font: 20px/1.6 "proxima-nova", "Helvetica Neue", Helvetica, Arial, Geneva;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body, html, .main {
  height: 100%;
}

a {
 color: #373F4A;
}

p {
  margin: 10px 0;
}

.main:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

[data-hull-widget="instant_win@hull"] {
  display: inline-block;
  vertical-align: middle;
}

[data-hull-widget="share@hull"] {
  position: fixed;
  bottom: 0;
  padding: 30px 0;
  width: 100%;
}

.hull-btn {
  display: inline-block;
  margin: 0;
  padding: 30px 25px;
  border: 0;
  border-radius: 8px;
  background: #fff;
  background-image: -o-linear-gradient(-90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: -moz-linear-gradient(-90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: -webkit-linear-gradient(-90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: -ms-linear-gradient(-90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: linear-gradient(-90deg, #3EA7DB 0%, #3492D3 100%);
  -webkit-box-shadow: inset 0px -3px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0px -3px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0px -3px 0 rgba(0,0,0,0.1);
  color: #fff;
  vertical-align: bottom;
  font-weight: bold;
  line-height: 0;
  text-decoration: none;
  cursor: pointer;
}

.hull-btn:hover {
  background-image: -o-linear-gradient(-90deg, #4DB1E3 0%, #3492D3 100%);
  background-image: -moz-linear-gradient(-90deg, #4DB1E3 0%, #3492D3 100%);
  background-image: -webkit-linear-gradient(-90deg, #4DB1E3 0%, #3492D3 100%);
  background-image: -ms-linear-gradient(-90deg, #4DB1E3 0%, #3492D3 100%);
  background-image: linear-gradient(-90deg, #4DB1E3 0%, #3492D3 100%);
}

.hull-btn:active {
  background-image: -o-linear-gradient(90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: -moz-linear-gradient(90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: -webkit-linear-gradient(90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: -ms-linear-gradient(90deg, #3EA7DB 0%, #3492D3 100%);
  background-image: linear-gradient(90deg, #3EA7DB 0%, #3492D3 100%);
  -webkit-box-shadow: inset 0px 3px 1px rgba(0,0,0,0.08), 0px 1px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 3px 1px rgba(0,0,0,0.08), 0px 1px 1px rgba(255,255,255,1);
  box-shadow: inset 0px 3px 1px rgba(0,0,0,0.08), 0px 1px 1px rgba(255,255,255,1);
}

.hull-instant {
  margin: 0 auto;
  width: 400px;
}

.hull-instant--intro .hull-instant__title {
  display: inline-block;
  margin: 0;
  width: 200px;
  height: 76px;
  background: transparent url('../images/logo.png') no-repeat 0 0;
  vertical-align: top;
  text-indent: -1000000%;
  font-size: 0;
  line-height: 0;
  opacity: .8;
}

.hull-instant--intro .hull-instant__description {
  margin: 30px 0;
}

.hull-instant--won .hull-btn {
  display: block;
  margin-top: 15px;
}

.hull-instant-result {
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.05);
  box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.05);
  -webkit-animation: bounce .4s ease;
}

.hull-instant-result__title {
  margin: 0 0 15px;
  font-size: 26px;
  color: #373F4A;
}

.hull-instant-result__description {
  margin: 0;
  font-size: 18px;
}

.hull-share--twitter {
  display: inline-block;
  width: 30px;
  height: 25px;
  background: transparent url('../images/twitter.png') no-repeat 0 0;
  text-decoration: none;
  text-indent: -1000000%;
  font-size: 0;
  line-height: 0;
  opacity: .5;
   -webkit-transition: opacity .3s ease;
   -moz-transition: opacity .3s ease;
   transition: opacity .3s ease;
}

.hull-share--twitter:hover {
  opacity: 1;
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
