<div class="hull-instant-admin">
  <h1>Instant Win Admin</h1>

  <div class="hull-instant-admin__section">
    <h2 class="hull-instant-admin__section-title">Create an Instant Win</h2>
  </div>

  <div class="hull-instant-admin__section">
    <h2 class="hull-instant-admin__section-title">Add a prize</h2>
  </div>

  <div class="hull-instant-admin__section">
    <h2 class="hull-instant-admin__section-title">Replace all prizes</h2>
  </div>
</div>
