<div class="hull-sweepstake hull-sweepstake--lost">
  <div class="hull-sweepstake-result">
    <h1 class="hull-sweepstake-result__title">You Lose...</h1>
    <p class="hull-sweepstake-result__description">Come back tomorrow!</p>
  </div>
</div>
