<div class="hull-sweepstake hull-sweepstake--played">
  <div class="hull-sweepstake-result">
    <h1 class="hull-sweepstake-result__title">You've already played today!</h1>
    <p class="hull-sweepstake-result__description">Come back tomorrow!</p>
  </div>
</div>
