<div class="hull-sweepstake hull-sweepstake--won">
  <div class="hull-sweepstake-result">
    <h1 class="hull-sweepstake-result__title">You won!</h1>

    <div class="hull-sweepstake-result__description">
      <p>Congratulations! Click below to activate your invite. It's a personal code.</p>
      <a class="hull-btn" href="http://accounts.alpha.hullapp.io/accounts/sign_up?token={{badge.data.signature}}">Activate my account</a>
      <p>After signing in, why don't you have a look at some other <a href="http://hull.io/gallery/">cool examples</a>?</p>
    </div>
  </div>
</div>
